/*fonts*/

h1 {
  font-size: 2.5em;
  font-family: "industry", Helvetica, sans-serif;
  text-align: center;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
  margin: 0% 10% 10% 10%;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid var(--darkteal);
}

.about-text p {
  font-family: "montserrat", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin: 20px;
}

.about h2 {
  font-size: 1.1em;
  font-family: "industry light", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.about h3 {
  font-size: 2.1em;
  font-family: "industry light", sans-serif;
  text-align: center;
  color: var(--darkteal);
}

.about p {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.about img {
  padding: 1rem;
  max-width: 100%;
  height: auto;
}
/*footer*/

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 800px) {
  .about img {
    padding: 0.2rem;
    max-width: 240px;
  }
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
  .about img {
    padding: 1rem;
  }
}
