body {
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  background-color: #ffff;
}

/*checkout*/

* {
  box-sizing: border-box;

  font-size: 1rem;
  font-family: "industry", sans-serif;
  font-size: 14px;
  color: #06476d;
}

.wrapper {
  flex-flow: row;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 4px;
}

.shipping {
  font-size: 2rem;
  font-family: "industry", Helvetica, sans-serif;
  color: #06476d;
}

img {
  max-height: 400px;
  border-radius: 4px;
}

.purple1 {
  text-decoration: none;
  list-style-type: none;
}

.items-cart {
  margin: 40px;
  font-size: 1.5em;
}

span.price {
  float: right;
  margin-left: 40px;
}

.cta-btn {
  height: 2em;
  padding: 1em 1em 0;
}

.cta-btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  justify-content: center;
}
.cart-tab {
  width: 300px;
  box-sizing: border-box;
  background-color: #06476d1c;
  border-radius: 4px;
  min-height: 500px;
}

/* .cart-tab > div {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "industry light";
} */

.cart-tab ul > li {
  padding: 0.2rem;
}

.details li {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  margin-left: 30%;
  padding: 1rem;
}

/* .description {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

.cta-btn a {
  width: 150px;
  background-color: #06476d;
  color: #f2f2f2;
  padding: 14px 20px;
  border: none;
  margin-right: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "montserrat";
  font-size: 12px;
  text-decoration: none;
}

.cta-btn a:hover {
  background-color: #c2702d;
  width: 150px;
  border: none;
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  .wrapper {
    flex-flow: column;
  }

  nav {
    display: none;
  }
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
  .hamburger-label {
    display: none;
  }
}
