/*Body*/

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

/*navigation*/

/*fonts*/

h1 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "industry demi";
  text-align: center;
  color: #06476d;
}

.wrap {
  width: 100%;
}

.about {
  display: flex;
  padding: 5%;
  background-color: #f2f2f2;
  border-radius: 4px 4px 4px 4px;
  margin: 10%;
  max-width: 100%;
  max-height: 100%;
}

.about h2 {
  font-size: 1em;
  font-family: "industry light", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #666874;
  letter-spacing: 0.1em;
}

.about h3 {
  font-size: 2.1em;
  margin-bottom: 20px;
  font-family: "industry light", sans-serif;
  text-align: center;
  color: #c2702d;
}

.new-products {
  display: flex;
  padding: 5%;
  background-color: #f2f2f2;
  border-radius: 4px 4px 4px 4px;
  margin: 5%;
  max-width: 100%;
  max-height: 100%;
}

.new-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.new-products h2,
p {
  display: flex;
  align-items: center;
  margin: 6px;
}

.new-products p {
  font-size: 1em;
}
.new-products img {
  border-radius: 4px;
}

img {
  height: 300px;
}

.btn {
  display: block;
  width: 170px;
  padding: 1em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #06476d;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "industry light", Arial, Helvetica, sans-serif;
  border-radius: 0.7em;
  transition-property: all;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #c2702d;
  width: 170px;
  border: none;
  color: #f2f2f2;
}

/*footer*/

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 800px) {
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
}
