/*checkout*/

* {
  box-sizing: border-box;
}

.shipping {
  font-size: 2rem;
  font-family: "industry", Helvetica, sans-serif;
  color: var(--black);
}

h1 {
  text-align: center;
}

.items-cart {
  font-size: 1.5em;
}

span.price {
  float: right;
  margin-left: 40px;
}

section.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 12px;
  outline: none;
}

.form-error {
  display: none;
  color: rgb(105, 20, 20);
  font-size: 0.9rem;
  margin-top: 4px;
}

.cart-wrapper {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products {
  transition: 0.5s all ease-in-out;
  border-radius: 8px;
  border: 2px solid var(--darkteal);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 20px;
  padding: 2rem;
  max-width: 400px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.products img {
  max-width: 200px;
  max-height: 200px;
}
.payment-info {
  border-radius: 8px;
  padding: 2rem;
  max-height: 800px;
  max-width: 400px;
  border: 2px solid var(--darkteal);
  margin-bottom: 30px;
  margin-left: 30px;
}

.payment-info button {
  margin-top: 10px;
  padding: 2px 20px;
  font-size: 14px;
  height: 35px;
  color: var(--dirtygreen);
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--dirtygreen);
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  .cart-wrapper {
    flex-flow: column;
    justify-content: center;
    padding: 3rem;
  }

  nav {
    display: none;
  }
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
  .hamburger-label {
    display: none;
  }
}
