/*Body*/
* {
  box-sizing: border-box;
  text-decoration: none;
  color: #2f2f31;
}

/*navigation*/

/*fonts*/

h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  text-align: center;
}

.wrap {
  width: 100%;
}

.about h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #2f2f31;
}

.new-products {
  border: 2px solid var(--dirtygreen);
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: 10px 100px 80px 100px;
  max-width: 100%;
  max-height: 100%;
}

.new-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.new-products h2,
p {
  display: flex;
  align-items: center;
  margin: 6px;
}

img {
  height: 300px;
  border-radius: 4px;
}

.btn {
  margin-top: 10px;
  padding: 2px 20px;
  font-size: 14px;
  height: 35px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--darkteal);
  border: 1px solid var(--dirtygreen);
}

/*footer*/

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 800px) {
  .new-products {
    border: 2px solid var(--dirtygreen);
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    margin: 20px;
    max-width: 100%;
    max-height: 100%;
  }
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
}
