:root {
  --lightgray: #f2f2f2;
  --white: #fff;
  --black: #000000;
  --dirtygreen: #2c3531;
  --darkteal: #116466;
  --lightteal: #d1e8e2;
  --peach: #ffcb9a;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #2f2f31;
}
nav input,
.sub-nav input {
  border-radius: 2px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  border: 0.5px solid var(--lightgray);
  width: 250px;
  padding: 4px 8px 3px 8px;
  transition-duration: 0.2s;
}

.shop-and-info {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin-bottom: 80px;
}

.shop-card-image {
  float: left;
}

.shop-image img {
  max-width: 400px;
  max-height: 498px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shop-card-info {
  padding: 2rem;
  max-height: 800px;
  max-width: 400px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 5px;
  border: 2px solid var(--darkteal);
}

.shop-text h2 {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

.shop-text h2:nth-child(2) {
  font-weight: 700;
}
.shop-text p {
  margin: 0 auto;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  min-width: 200px;
  max-width: 400px;
  margin-bottom: 5px;
}

span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contactForm label {
  display: block;
  margin-top: 1rem;
}

#contactForm input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid var(--darkteal);
}

#contactForm textarea {
  font-family: "montserrat", helvetica, sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  font-size: 12px;
  resize: none;
  height: 80px;
  border: 1px solid var(--darkteal);
}

#contactForm button {
  margin-top: 10px;
  padding: 2px 20px;
  font-size: 14px;
  height: 35px;
  color: var(--darkteal);
  cursor: pointer;
  background-color: var(--lightgray);
  border: 1px solid var(--darkteal);
  transition: 0.5s all ease-in-out;
}

#contactForm button:hover {
  background-color: var(--darkteal);
  color: var(--lightgray);
}

.form-error {
  display: none;
  color: rgb(105, 20, 20);
  font-size: 0.9rem;
  margin-top: 4px;
}

.success-message {
  border: none;
  padding: 1rem;
  color: var(--darkteal);
  margin-top: 1rem;
  border-radius: 0.3rem;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
  .products {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}
/*tablet*/

/*Mobile*/

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  .shop-and-info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .shop-card-image img {
    max-width: 310px;
    margin-bottom: 20px;
  }
}

/*desktop screen size*/

@media only screen and (min-width: 600px) {
}
