body {
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  background-color: #fff;
}

/*logo*/

/* header img {
  height: 100px;
  padding: 0;
  margin-left: -30%;
  margin-top: 30px;
}

/*navigation bar*/

/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
  min-height: 80px;
} */

/* header nav a {
  text-decoration: none;
  color: #06476d;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 2em;
  font-family: "industry light", sans-serif;
  display: block;
} */

header nav ul li:hover > ul {
  display: block;
}

header nav ul {
  list-style: none;
  position: relative;
  float: left;
  display: block;
  padding: 0;
}

header nav ul li {
  float: left;
  transition: all 0.2s ease-in-out;
}

header nav ul li a {
  display: block;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
header nav ul ul {
  display: none;
  background: #fff;
  position: absolute;
}
header nav ul ul li {
  float: none;
  position: relative;
}
header nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

/*hamburger menu*/

.hamburger-label {
  float: left;
  margin-top: 30px;
  color: #06476d;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#hamburger-menu {
  display: none;
}

/*cart*/

.Cart {
  font-size: 1.5em;
  margin-top: 30px;
  margin-right: 5%;
}

.fas {
  color: #06476d;
}

.fas:hover {
  color: #c2702d;
}

/*breadcrumbs*/

.breadcrumbs {
  font-family: "industry light", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 1em;
}

.breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 2em;
  color: #06476d;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 1em;
  margin: 0;
}

.breadcrumbs li:after {
  content: "/";
  position: absolute;
  display: inline-block;
  right: 0;
  text-align: center;
}

.breadcrumbs li:last-child:after {
  content: "";
}

.breadcrumbs a {
  text-decoration: none;
  display: inline-block;
  color: #06476d;
  white-space: nowrap;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  color: #c2702d;
}

/*fonts*/

p {
  text-decoration: none;
  font-family: "industry-medium", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 0.7em;
}

.footer p {
  color: #fff;
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
  font-family: "industry light", sans-serif;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #666874;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 2.1em;
  margin-bottom: 20px;
  font-family: "industry light", sans-serif;
  text-align: center;
  color: #06476d;
}

h4 {
  text-decoration: none;
  color: #06476d;
  font-size: 3em;
  font-family: "industry demi", Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
}

h5:hover {
  color: #c2702d;
  text-decoration: underline;
}

/*footer*/

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06476d;
  color: #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "industry light", Helvetica, sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer ul {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

.footernav {
  color: #f2f2f2;
  text-decoration: none;
}

.footernav:hover {
  box-shadow: inset 0 -0.12em hsla(0, 0%, 100%, 0.4);
}

.company-name {
  margin-top: 10%;
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  header img {
    margin-left: -5%;
  }

  nav {
    display: none;
  }

  .footer ul {
    grid-auto-flow: row;
    margin-right: 30px;
  }

  .company-name {
    margin-left: 15px;
  }

  .fa {
    display: none;
  }
}

/*tablet*/

@media only screen and (max-width: 768px) {
  header img {
    margin-left: 5%;
  }

  nav {
    display: none;
  }
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
  .hamburger-label {
    display: none;
  }
}
