* {
  font-family: "industry", Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: #2f2f31;
  overflow: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  background-color: #f2f2f2;
}

header {
  background: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 auto;
  padding: 0.5rem;
}

.logo {
  height: 90px;
  margin: 0 auto;
}

nav,
#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: block;
  z-index: 1;
  margin-top: 30px;
}

#hamburger:checked ~ nav ul a {
  margin: 1rem;
}

nav {
  position: absolute;
  right: 0px;
  background: #fff;
  border-radius: 4px;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

nav ul {
  list-style: none;
}

nav a {
  font-family: "montserrat";
  font-weight: lighter;
  color: #06476d;
  display: block;
  margin: 1rem;
  text-align: left;
}
nav a:hover {
  color: #c2702d;
}

.hamburger-icon {
  position: absolute;
  color: #06476d;
  right: 20px;
  font-size: 2rem;
}

/*cart*/

.sub-nav {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  background-color: #06476d;
}

input {
  border-radius: 4px;
  font-family: "montserrat";
  width: 180px;
  height: 1.8rem;
  border: none;
  padding: 10px;
}

.sub-nav li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.fas {
  font-size: 1.5rem;
  color: #06476d;
}

.fas:hover {
  color: #c2702d;
}

/*breadcrumbs*/

.breadcrumbs {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 1em;
}

.breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 2em;
  color: #06476d;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 1em;
  margin: 0;
}

.breadcrumbs li:after {
  content: "/";
  position: absolute;
  display: inline-block;
  right: 0;
  text-align: center;
}

.breadcrumbs li:last-child:after {
  content: "";
}

.breadcrumbs a {
  text-decoration: none;
  display: inline-block;
  color: #06476d;
  white-space: nowrap;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  color: #c2702d;
}

/*fonts*/

p {
  text-decoration: none;
  font-family: "montserrat", sans-serif;

  font-size: 1rem;
}

.footer p {
  color: #fff;
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
  font-family: "industry", sans-serif;
  text-align: center;
  margin-bottom: auto;
  text-transform: uppercase;
  color: #2f2f31;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 2.1em;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  text-decoration: none;
  color: #06476d;
  font-size: 3em;
  position: relative;
  text-align: center;
}

h5:hover {
  color: #c2702d;
}

/*footer*/

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06476d;
  color: #f2f2f2;
  width: 100%;
  text-align: left;
  font-family: "industry", Helvetica, sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer ul {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

.footernav {
  color: #f2f2f2;
  text-decoration: none;
}

.footernav:hover {
  box-shadow: inset 0 -0.12em hsla(0, 0%, 100%, 0.4);
}

.company-name {
  margin-top: 10%;
  font-family: "montserrat", Helvetica, sans-serif;
}

.footer p {
  color: #fff;
  font-size: 1em;
}

/* Media Query*/

/*mobile screen*/
@media only screen and (max-width: 700px) {
  /* .grid-inspo {
    box-sizing: border-box;
    display: grid;
    padding: 1em 0em 1em 1em;
    margin: auto;
  } */

  .sub-nav {
    background-color: #c2702d;
  }

  .footer ul {
    grid-auto-flow: row;
    margin-right: 30px;
  }
}

/*tablet*/

/*desktop screen size*/

@media (min-width: 900px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    background: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }
}
