* {
  font-family: "industry", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: #2f2f31;
}

:root {
  --black: rgba(0, 0, 0, 0.4);
  --lightgray: #f2f2f2;
  --white: #fff;
  --black: #000000;
  --dirtygreen: #2c3531;
  --darkteal: #116466;
  --lightteal: #d1e8e2;
  --peach: #ffcb9a;
  --peachdark: #fd9635;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Navigation */
hr {
  width: 100px;
  border: 0.5px solid lightgrey;
}

/* cart modal */

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: right;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 2;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 600px;
  border-radius: 6px;
  background: #f2f2f2;
  overflow: auto;
  cursor: default;
  align-items: center;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: #f2f2f2;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.cart-modal p + p {
  margin-top: 1rem;
}

.cart-modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.cart-modal.is-visible {
  visibility: visible;
  opacity: 1;
}

/*hero*/

.hero {
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin-bottom: 2%;
}

.hero h1 {
  margin-top: 200px;
  font-size: 3em;
  font-family: "industry", Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  text-transform: uppercase;
}

.hero .btn {
  display: block;
  width: 250px;
  padding: 0.8em;
  color: var(--darkteal);
  font-size: 1rem;
  transition: all 0.3s ease-in;
}

.hero-cta {
  padding: 15px;
  font-family: "industry", sans-serif;
  font-size: 16px;
  background: #f2f2f2;
  outline: none !important;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
}

.sign-up-btn {
  padding: 10px 25px;
  font-family: "montserrat", sans-serif;
  font-size: 12px;
  background: #f2f2f2;
  outline: none !important;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
}

.hero-btn,
.sign-btn {
  border: none;
  z-index: 1;
  color: var(--darkteal);
}

.hero-btn:after,
.sign-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--darkteal);

  transition: all 0.5s ease;
}

.hero-btn:hover,
.sign-btn:hover {
  color: #f2f2f2;
}

.hero-btn:hover:after,
.sign-btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn:hover {
  transform: scale(1.05);
  /* box-shadow: inset 0 -0.3rem hsl(206, 91%, 17%); */
}

/*fonts*/

.footer p {
  text-decoration: none;
  color: #2f2f31;
  font-size: 0.8em;
}

.new-products p {
  text-align: start;
  font-weight: 500;
  font-size: 0.7rem;
  color: #2f2f31;
}

p {
  text-align: center;
  font-size: 14px;
}

h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #2f2f31;
  font-size: 0.8rem;
  text-align: center;
}

h3 {
  text-decoration: none;
  color: #2f2f31;
  font-size: 2rem;
  position: relative;
  text-align: center;
}

/*New Products*/

.new-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.new-products h2,
.new-products p,
.new-products .fa-heart-o {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.heart .fa-heart-o {
  color: #2f2f31;
  cursor: pointer;
  font-size: 1.2rem;
}

.modal-content button,
.add-modal-content button {
  padding: 0.5rem;
  font-size: 12px;
  margin: 10px;
  background: #f2f2f2;
  color: #2f2f31;
  border: 2px solid #2f2f31;
}

.modal-content button:hover,
.add-modal-content button:hover {
  background: var(--darkteal);
  color: #f2f2f2;
  border: none;
}

.add-cart-close-modal {
  border: none;
}

.wrapper {
  padding: 1rem;
}

#purple-jack,
#black-jack,
#green-jack,
#yellow-jack {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
  padding: 0.5rem;
}
.new-products img {
  border-radius: 8px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  transition: 0.5s all ease-in-out;
}

.new-products img:hover {
  transform: scale(1.03);
}

/*footer*/

.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #06476d;
  color: #f2f2f2;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.footer ul {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  padding: 1rem;
}

.footernav {
  color: #f2f2f2;
}

.footernav:hover {
  box-shadow: inset 0 -0.12em hsla(0, 0%, 100%, 0.4);
}

.company-name {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.footer p {
  color: #fff;
  font-size: 0.8rem;
}

.discount-container {
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 80px;
}
.sign-up input {
  height: 35px;
  width: 180px;
  margin: 5px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 12px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.sign {
  padding: 2px 20px;
  font-size: 14px;
  height: 35px;
  color: var(--dirtygreen);
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--dirtygreen);
}

.email-error p {
  color: rgba(180, 9, 9, 0.616);
  font-size: 0.8rem;
  margin-top: 4px;
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .sub-nav {
    background: var(--peach);
  }

  .hero {
    background: var(--lightteal);
    height: 200px;
  }

  .hero h1 {
    margin-top: 10px;
    font-size: 30px;
    color: var(--darkteal);
  }

  .footer ul {
    grid-auto-flow: row;
  }

  .top-nav p:nth-child(1) {
    font-size: 0.6rem;
    display: none;
  }

  .new-products {
    display: flex;
    flex-direction: column;
  }
}

/*tablet*/

@media only screen and (max-width: 900px) {
  .logo {
    height: 80px;
  }
  .nav-container {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }
  .search .fa-search,
  .search input {
    display: none;
  }

  .fa-user {
    margin-left: -20px;
  }

  #hamburger:checked ~ nav {
    display: flex;
    justify-content: left;
    flex-direction: row;
    z-index: 1;
    margin-top: 60px;
    width: 100%;
  }

  #hamburger:checked ~ nav ul a {
    margin: 1rem;
  }

  .search1 {
    width: 100%;
  }

  .search1 input {
    padding: 10px;
  }
}

/*desktop screen size*/

@media (min-width: 900px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    background: none;
  }

  nav a {
    box-shadow: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .search1 {
    display: none;
  }
}
