* {
  font-family: "industry", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: #2f2f31;
}

:root {
  --black: rgba(0, 0, 0, 0.4);
  --lightgray: #f2f2f2;
  --white: #fff;
  --black: #000000;
  --dirtygreen: #2c3531;
  --darkteal: #116466;
  --lightteal: #d1e8e2;
  --peach: #ffcb9a;
  --peachdark: #fd9635;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
}

/*hero*/

.hero {
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.hero h1 {
  margin-top: 350px;
  font-size: 3em;
  font-family: "industry", Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  text-transform: uppercase;
}

.hero .btn {
  display: block;
  width: 250px;
  padding: 0.8em;
  color: var(--dirtygreen);
  font-size: 1rem;
  transition: all 0.3s ease-in;
  border: 2px solid var(--dirtygreen);
}

.hero-cta {
  padding: 15px;
  font-family: "industry", sans-serif;
  font-size: 16px;
  background: #f2f2f2;
  outline: none !important;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
  border: 2px solid var(--dirtygreen);
}

.sign-up-btn {
  padding: 10px 25px;
  font-family: "montserrat", sans-serif;
  font-size: 12px;
  background: #f2f2f2;
  outline: none !important;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
}

.hero-btn,
.sign-btn {
  z-index: 1;
  color: var(--dirtygreen);
}

.hero-btn:after,
.sign-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--dirtygreen);
  transition: all 0.5s ease;
}

.hero-btn:hover,
.sign-btn:hover {
  color: #f2f2f2;
}

.hero-btn:hover:after,
.sign-btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn:hover {
  transform: scale(1.05);
}

/*fonts*/

.footer p {
  text-decoration: none;
  color: #2f2f31;
  font-size: 0.8em;
}

p {
  text-align: center;
  font-size: 14px;
}

h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #2f2f31;
  font-size: 0.7rem;
  text-align: center;
}

h3 {
  text-decoration: none;
  color: #2f2f31;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
}

/*New Products*/

.new-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.purple-jack {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
  padding: 0.5rem;
  align-items: center;
  max-width: 300px;
}

.heart .fa-heart-o {
  color: var(--peachdark);
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: -100px;
}

.modal-content button,
.add-modal-content button {
  padding: 0.5rem;
  font-size: 12px;
  margin: 10px;
  background: #f2f2f2;
  color: #2f2f31;
  border: 2px solid #2f2f31;
}

.modal-content button:hover,
.add-modal-content button:hover {
  background: var(--darkteal);
  color: #f2f2f2;
  border: none;
}

.add-cart-close-modal {
  border: none;
}

.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.explore-img img {
  width: 100%;
  height: auto;
}

.explore-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.woman-man-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6rem;
}

.women img,
.men img {
  max-width: 40vw;
}

.featured-wrapper {
  margin: 2rem;
}

.new-products img {
  border-radius: 8px;
  height: 300px;
  margin: 0 auto;
  transition: 0.5s all ease-in-out;
}

.new-products img:hover {
  transform: scale(1.03);
}

.new-products h2 {
  font-size: 1rem;
  padding: 5px;
}

/*footer*/

.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #06476d;
  color: #f2f2f2;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.footer ul {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  padding: 1rem;
}

.footernav {
  color: #f2f2f2;
}

.footernav:hover {
  box-shadow: inset 0 -0.12em hsla(0, 0%, 100%, 0.4);
}

.company-name {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.footer p {
  color: #fff;
  font-size: 0.8rem;
}

.discount-container {
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 80px;
}
.sign-up input {
  height: 35px;
  width: 200px;
  margin: 5px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 12px;
  font-family: "montserrat", Helvetica, sans-serif;
}

.sign {
  padding: 2px 20px;
  font-size: 14px;
  height: 35px;
  color: var(--dirtygreen);
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--dirtygreen);
}

.email-error p {
  color: rgba(180, 9, 9, 0.616);
  font-size: 0.8rem;
  margin-top: 4px;
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .sub-nav {
    background: var(--peach);
  }

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/rain_texture.jpg);
    height: 300px;
    max-width: 100%;
  }

  .hero h1 {
    margin-top: 40px;
    font-size: 30px;
    color: var(--lightgray);
  }

  .footer ul {
    grid-auto-flow: row;
  }

  .top-nav p:nth-child(1) {
    font-size: 0.6rem;
    display: none;
  }

  .new-products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*tablet*/

@media only screen and (max-width: 800px) {
  .nav-container {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }
  .search .fa-search,
  .search input {
    display: none;
  }

  #hamburger:checked ~ nav {
    display: flex;
    justify-content: left;
    flex-direction: row;
    z-index: 1;
    margin-top: 60px;
    width: 100%;
  }

  #hamburger:checked ~ nav ul a {
    margin: 1rem;
  }

  .search1 {
    width: 100%;
  }

  .search1 input {
    padding: 10px;
  }
}

/*desktop screen size*/

@media (min-width: 800px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    background: none;
  }

  nav a {
    box-shadow: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .search1 {
    display: none;
  }
  .explore-container {
    flex-direction: row;
  }

  .explore-img img {
    width: 40vw;
  }
  .woman-man-container {
    flex-direction: row-reverse;
  }
  .women img,
  .men img {
    max-width: 30vw;
  }
}
