* {
  font-family: "industry", Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: #2f2f31;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f2f2f2;
}

header {
  background: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 auto;
  padding: 0.5rem;
}

.logo {
  height: 90px;
  margin: 0 auto;
}

nav,
#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: block;
  z-index: 1;
  margin-top: 30px;
}

#hamburger:checked ~ nav ul a {
  margin: 1rem;
}

nav {
  position: absolute;
  right: 0px;
  background: #fff;
  border-radius: 4px;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

nav ul {
  list-style: none;
}

nav a {
  font-family: "montserrat";
  font-weight: lighter;
  color: #06476d;
  display: block;
  margin: 1rem;
  text-align: left;
}
nav a:hover {
  color: #c2702d;
}

.hamburger-icon {
  position: absolute;
  color: #06476d;
  right: 20px;
  font-size: 2rem;
}

/*cart*/

.sub-nav {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  background-color: #06476d;
}

input {
  border-radius: 4px;
  font-family: "montserrat";
  width: 180px;
  height: 1.8rem;
  border: none;
  padding: 10px;
}

.sub-nav li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.fas {
  font-size: 1.5rem;
  color: #06476d;
}

.fas:hover {
  color: #c2702d;
}

/*hero*/

.hero {
  max-width: 100%;
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Background_hiker_horizon.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 3em;
  margin-top: 150px;
  color: #f2f2f2;
  text-transform: uppercase;
}

.hero .btn {
  display: block;
  width: 150px;
  padding: 0.5em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #06476d;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 8px;
  transition-property: all;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #c2702d;
  border: none;
  color: #f2f2f2;
}

/*fonts*/

.footer p {
  text-decoration: none;
  color: #2f2f31;
  font-size: 0.8em;
}

.new-products p {
  text-align: start;
  font-weight: 500;
  font-size: 0.7rem;
  color: #2f2f31;
}

h2:hover {
  color: #c2702d;
  text-decoration: underline;
}

h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #2f2f31;
  font-size: 0.8rem;
  text-align: center;
}

h3 {
  text-decoration: none;
  color: #c2702d;
  font-size: 2rem;
  position: relative;
  text-align: center;
  margin-top: 5%;
}

/*Catgories*/

.new-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.new-products h2,
p {
  display: flex;
  align-items: center;
  margin: 5px;
}

/*Trend photos*/

/* .grid-inspo {
  grid-template-areas: "gi01 gi02 gi03";
}

/* .grid-inspo div { */
/* min-height: 100%;
  max-height: 100%;
  margin-bottom: 20%;
} */

/* .grid-inspo {
  box-sizing: border-box;
  display: grid;
  padding: 1em 0em 1em 5em;
  margin: auto;
}

.grid-image1 {
  max-height: 300px;
  max-width: 75%;
  border-radius: 4px;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/canoe.jpg);
}

.grid-image2 {
  max-height: 300px;
  max-width: 75%;
  border-radius: 4px;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/snowboardadventure.jpg);
}

.grid-image3 {
  height: 300px;
  max-width: 75%;
  border-radius: 4px;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/couplemountains.jpg);
} */

.new-products img {
  border-radius: 8px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  transition: 0.5s all ease-in-out;
}

.new-products img:hover {
  transform: scale(1.1);
}

/*footer*/

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06476d;
  color: #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer ul {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

.footernav {
  color: #f2f2f2;
  text-decoration: none;
}

.footernav:hover {
  box-shadow: inset 0 -0.12em hsla(0, 0%, 100%, 0.4);
}

.company-name {
  margin-top: 10%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.footer p {
  color: #fff;
  font-size: 1em;
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
  .grid-inspo {
    box-sizing: border-box;
    display: grid;
    padding: 1em 0em 1em 1em;
    margin: auto;
  }

  .sub-nav {
    background-color: #c2702d;
  }

  .footer ul {
    grid-auto-flow: row;
    margin-right: 30px;
  }
}

/*tablet*/

@media only screen and (max-width: 768px) {
  .logo {
    height: 100px;
  }
}

/*desktop screen size*/

@media (min-width: 900px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    background: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }
}
