/*fonts*/

label {
  margin-left: 20px;
}
select {
  outline: none;
}

.new-products p {
  font-weight: 500;
  font-size: 12px;
  margin-top: -15px;
}
h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
}

h3 {
  position: relative;
  text-align: center;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  margin-top: -5px;
}

.new-products .fa-heart-o {
  color: var(--peach);
  font-size: 23px;
  font-weight: 500;
}

/*Catgories*/
.jacket-wrapper {
  padding: 4rem;
  margin: 0 auto;
}
.new-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* .new-products h5,
p {
  display: flex;
} */

#newPurple,
#newYellow,
#newBlack,
#newGreen {
  margin: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.new-products img {
  max-height: 340px;
  padding: 1rem;
  transition: 0.3s all ease-in-out;
}

.new-products img:hover {
  transform: scale(1.03);
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 768px) {
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
}
