/*fonts*/

label {
  margin-left: 20px;
}
select {
  outline: none;
}

.new-products p {
  font-weight: 500;
  font-size: 12px;
  margin-top: -15px;
}
h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
}

.new-products h3 {
  font-weight: 500;
  font-size: 16px;
  margin-top: -5px;
}

p {
  text-decoration: none;
  font-family: "montserrat", sans-serif;
  font-size: 0.8em;
}

.top-nav p {
  font-size: 0.7em;
}

.h3 {
  color: #fff;
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
  font-family: "industry", sans-serif;
  text-align: center;
  margin-bottom: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4 {
  text-decoration: none;
  color: var(--darkteal);
  font-size: 3em;
  position: relative;
  text-align: center;
}

.new-products .fa-heart-o {
  color: var(--peach);
  font-size: 23px;
  font-weight: 500;
}

.jacket-wrapper {
  margin: 3rem;
}

.sort {
  color: var(--dirtygreen);
}

.new-products {
  margin: 0em 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.jacket {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  margin: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.new-products img {
  max-height: 340px;
  padding: 1rem;
  transition: 0.3s all ease-in-out;
}

.new-products img:hover {
  transform: scale(1.03);
}

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 768px) {
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
}
