/*Body*/

body {
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: #f2f2f2;
  font-family: "industry", Helvetica, sans-serif;
}

a:link {
  color: #000000;
  text-decoration: none;
}

/*navigation*/

header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  height: 80px;
}

nav {
  max-height: 100vh;
}

header img {
  height: 80px;
  margin-right: 1%;
  margin-top: 20%;
}

header ul {
  list-style: none;
  text-align: center;
}

header ul li {
  display: flex;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: start;
  margin-right: 10px;
  list-style: none;
}

header ul li a {
  display: flex;
  flex-direction: row;
  padding: 0px;
  text-decoration: none;
  color: #06476d;
  margin: -10px;
  margin-top: 30px;
  font-size: 0.9em;
  font-family: "montserrat";
}

header ul li a,
header ul li a:after,
header ul li a:before {
  transition: all 0.5s;
}

header ul li a:hover {
  color: #c2702d;
}

/*cart*/

.fas {
  color: #06476d;
  font-size: 1.5em;
  justify-content: start;
  margin-top: 10px;
}

.fas:hover {
  color: #c2702d;
}

/*searchbar*/

form {
  position: absolute;
  transform: translate(-100%, -0%);
  transition: all 1s;
  width: 40px;
  height: 40px;
  background: #f2f2f2;
  border-radius: 20px;
  border: 1px #f2f2f2;
  padding: 1px;
  margin-top: -10px;
  margin-left: 100px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 10px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #06476d;
  text-align: center;
  font-size: 1.3em;
  transition: all 1s;
}

form:hover {
  width: 130px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  background: #c2702d;
  color: #f2f2f2;
}

/*footer*/

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06476d;
  color: #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "montserrat", Helvetica, sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

.footernav {
  color: #f2f2f2;
  text-decoration: none;
  box-shadow: inset 0 --1px hsla(0, 0%, 100%, 0.4);
}

.footernav:hover {
  box-shadow: inset 0 -0.12em hsla(0, 0%, 100%, 0.4);
}

@media (max-width: 600px) {
  header ul li a {
    display: none;
  }

  .header {
    position: relative;
    float: left;
    margin-left: 130px;
  }

  .searchbar {
    display: none;
  }

  .cart {
    margin-left: 30px;
  }

  .hamburger-menu {
    position: fixed;
    float: left;
    height: 100px;
  }
}

@media (min-width: 601px) {
  .hamburger-label {
    display: none;
  }

  ul {
    grid-auto-flow: column;
  }
}
