/*fonts*/
* {
  font-family: "industry", Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: #2f2f31;
}

.new-products p {
  font-weight: 500;
  font-size: 12px;
  color: #2f2f31;
  margin-top: -15px;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
}

h3 {
  position: relative;
  text-align: center;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: #2f2f31;
  margin-top: -5px;
}

/*Catgories*/
.wrapper {
  padding: 4rem;
}
.new-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 2px;
}

.new-products h5,
p {
  display: flex;
  justify-content: center;
}

.new-products img {
  max-height: 340px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 1px 2px 1px 0.5px rgb(221, 221, 221);
}

/* .new-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.new-products div {
  background: rgb(219, 231, 219);
  position: relative;
  min-height: 140px;
} */

/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 768px) {
}

/*desktop screen size*/

@media only screen and (min-width: 800px) {
}
