
/*Body*/

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

a:link {
  color: #000000; text-decoration: none;
}


/*navigation*/ 


header {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
background-color: #f2f2f2;
height: 80px;
}

nav {
  max-height: 100vh;
}

header img {
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;
}


header ul {
  list-style: none;
  text-align: center;
}

header ul li {
  display: flex;
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;

}

header ul li a {
display: block;
padding: 0px;
text-decoration: none;
color: #06476D;
margin: 0 10px;
margin-top: 30px;
font-size: 1.3em;
font-family: "montserrat";
}

header ul li a,
header ul li a:after,
header ul li a:before {
  transition: all .5s;
}

header ul li a:hover {
  color: #c2702d;
}

/*cart*/

.fas {
  color: #06476D;
  font-size: 1.5em;
  justify-content: center;
  margin-top: 10px;
  margin-right: 20px;

}

.fas:hover {
  color: #c2702d;
}


/*searchbar*/

form {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 20px;
  border: 1px #f2f2f2;
  padding: 1px;
  margin-top: 10px;
  margin-left: -50px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 10px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #06476D;
  text-align: center;
  font-size: 1.3em;
  transition: all 1s;
}

form:hover {
  width:  200px;
  cursor: pointer;
}

form:hover input{
display: block;
}

form:hover .fa {
  background: #c2702d;
  color: #f2f2f2;
}


/*fonts*/



p {
text-decoration: none;
font-family: "montserrat", Arial, Helvetica, sans-serif;
color: #06476D;
font-size: 0.8em;
text-align: end;
}

h2 {
font-family: "montserrat", Arial, Helvetica, sans-serif;
color: #06476D;
font-size: 1.2em;
text-align: end;
}

h3 {
  text-decoration: none;
  color: #c2702d;
  font-size: 3em;
  font-family: "industry", Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;

}

/*Catgories*/

.wrapper {
  height: 420px;
  width: 654px;
  margin: 100px auto;
  border-radius: 7px 7px 7px 7px;
}


.product-img {
  float: left;

  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #f2f2f2;
}

.product-text {
  height: 300px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #666874;
}

.product-text h1, .product-price-btn p {
  font-family: "industry", Arial, Helvetica, sans-serif;
}

.product-text h2 {
  margin: 0 0 0 38px;
  font-size: 13px;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #666874;
  letter-spacing: 0.2em;
}

.product-text p {
  height: auto;
  margin: 0 0 0 38px;
  font-family: "montserrat", sans-serif;
color: #666874;
line-height: 1.7em;
font-size: 12px;
font-weight: lighter;
overflow: hidden;
}


.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 20px;
  height: 50px;
  font-family: "montserrat", sans-serif;

}


span {
  display: inline-block;
  height: 50px;
  font-family: "industry";
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  height: 50px;
  width: 150px;
  margin: 0 40 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}



/*footer*/

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06476D;
  color: #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: montserrat, Helvetica, sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}
  
ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

.footernav {
  color: #f2f2f2;
  text-decoration: none;
  box-shadow: inset 0 --1px hsla(0, 0%, 100%, 0.4);
}

.footernav:hover {
  box-shadow: inset 0 -.12em hsla(0, 0%, 100%, 0.4);
}


/* Media Query*/

/*mobile screen*/

@media only screen and (max-width: 700px) {

  header ul li a {
    display: none;
  }
  
  .header {
   position: relative;
   float: left;
   margin-left: 130px;
  }
  
  .searchbar {
  display: none;
  }
  
  .cart {
    margin-left: 30px;
  }
  
  .hamburger-menu {
    position: fixed;
    float: left;
    height: 100px;
  }
    
  .gallery {
    display: none;
  }
  }
  

/*desktop screen size*/


@media only screen and (min-width: 600px) {

  .hamburger-label {
    display: none;
  }
  
  ul {
    grid-auto-flow: column;
  }
  

}