/*font*/



/*mobile styles */

nav {
  display: none;
}

#hamburger-menu{
  display: none;
}

#hamburger-meny:checked ~ nav {
    display: block;
}



header {
    background-image: url(../images/Background_hiker_horizon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 850px;
    min-width: 200px;
     }




#navicon,
#carticon {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  color: #C2702D;
}

#navicon {
padding-left: 10px;
padding-right: 50px;
}

#carticon {
  padding-left: 10px;
  padding-right: 10px;
}

#navicon,
#carticon {
  height: 40px;
}

.navbar {
  position: relative;
  top: 1.5em;
  display: inline;
  justify-content: space-between;
  align-items: center;
  padding: 0,5em;
}

.navbar a {
  position: relative;
  float: none;
  text-align: center;
  color: #C2702D;
  text-decoration: none;
  font-size: 1.1em;
}

#navicon {
  position: relative;
  left: 40em;
  top: 1.5em;
  float: right;
  justify-content: space-between;
  align-items: right;
  color: #C2702D;
}
