body {
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  margin-left: 0;
  background-color: #f2f2f2;  
  font-family: "industry",Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-label {
  position: absolute;
  padding: 20px;
  font-size: 2rem;
  display: block;
  color: #06476D;
}

#hamburger-menu {
  display: none;
}
/*fonts*/


h1 {
  font-family: "Industry", Helvetica, sans-serif; 
  color: #f2f2f2
}


/*nav bar*/

nav {
  display: inline-block;
}


header {
max-height: 100px;
background-color: #f2f2f2;
position: fixed;
top: 0;
left: 0;
right: 0;
min-height: 100px;
width: 100%;
display: flex;
align-items: center;
}


header img {
  height: 120px;
  margin-left: 20px;
  margin-top: 20px;
}


header ul {
  list-style: none;
  text-align: center;
}

header ul li {
  display: inline-block;
}

header ul li a {
display: block;
padding: 15px;
text-decoration: none;
color: #06476D;
margin: 0 10px;
margin-top: 40px;
font-size: 1.3em;
}

header ul li a,
header ul li a:after,
header ul li a:before {
  transition: all .5s;
}

header ul li a:hover {
  color: #c2702d;
}

/*searchbar*/


form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #f2f2f2;
  box-sizing: border-box;
  border-radius: 20px;
  border: 4px #f2f2f2;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #c2702d;
  text-align: center;
  font-size: 1.3em;
  transition: all 1s;
}

form:hover {
  width:  200px;
  cursor: pointer;
}

form:hover input{
display: block;
}

form:hover .fa {
  background: #c2702d;
  color: #f2f2f2;
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  left: 500px;
  margin-top: 80px;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
  
  .footer-all {
    background-color: #06476D;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  /* Media Query*/
  
  /*mobile screen*/
  @media only screen and (max-width: 601px) {
  
  header ul li a {
    display: none;
  }
  
  
  
  .logo {
   position: relative;
   float: right;
  }
  
  
  .hamburger-menu {
    position: relative;
    float: left;
    height: 100px;
  }
  
  .season-styles {
    flex-direction: column;
  }
  }
  
  /*desktop screen size*/
  
  @media only screen and (min-width: 600px) {
    .logo {
      float: left;
  
    }
  
  .hamburger-label {
    display: none;
  }
  
  .season-styles{
    flex-direction: row;
  }
  }
  