
/*Body*/

body {
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: #f2f2f2; 
  background-image: linear-gradient(rgba(255, 255, 255, 0.253),rgba(255, 255, 255, 0.521)), url(../images/anandu-vinod-pbxwxwfI0B4-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: relative;
  font-family: "industry",Helvetica, sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  height: 80px;
  }
  
  nav {
    max-height: 100vh;
  }
  
  header img {
    height: 60px;
    margin-right: 1%;
    margin-top: 8%;
  }
  
  
  header ul {
    list-style: none;
    text-align: center;
  }
  
  header ul li {
    margin-right: 10px;
    list-style: none;
  
  }
  
  header ul li a {
  padding: 0px;
  text-decoration: none;
  color: #06476D;
  margin: -10px;
  margin-top: 30px;
  font-size: 0.9em;
  font-family: "montserrat";
  }
  
  header ul li a,
  header ul li a:after,
  header ul li a:before {
    transition: all .5s;
  }
  
  header ul li a:hover {
    color: #c2702d;
  }
  
  /*cart*/
  
  .fas {
    color: #06476D;
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .fas:hover {
    color: #c2702d;
  }
  

/*navigation*/ 


/*body*/

.wrapper {
  height: 420px;
  width: 800px;
  margin: 100px auto;
  border-radius: 7px 7px 7px 7px;
  display: flex;
  flex-wrap: wrap;
}


.product-img {
  float: left;
  height: 420px;
  width: 400px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 400px;
  border-radius: 0 7px 10px 7px;
  background-color: #f2f2f2;
}

.product-text {
  height: 300px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #666874;
}

.product-text h1, .product-price-btn p {
  font-family: "industry", Arial, Helvetica, sans-serif;
}

.product-text h2 {
  margin: 0 0 0 38px;
  font-size: 13px;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #666874;
  letter-spacing: 0.2em;
}

.product-text p {
  height: auto;
  margin: 0 0 0 38px;
  font-family: "montserrat", sans-serif;
color: #666874;
line-height: 1.7em;
font-size: 12px;
font-weight: lighter;
overflow: hidden;
}


.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 20px;
  height: 50px;
  font-family: "montserrat", sans-serif;

}


span {
  display: inline-block;
  height: 50px;
  font-family: "industry";
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  height: 50px;
  width: 150px;
  margin: 0 40 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}


/*footer*/



/* Media Query*/

/*mobile screen*/

